.infouser-background {
  min-height: 100vh; 
  background-color: #e6f6ff; 
  display: flex;
  flex-direction: column;
}

.infouser-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font: 600 26px/1.2 'Roboto', sans-serif;
}

.infouser-footer {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  font: 400 18px/1.2 'Roboto', sans-serif;
}

.TopImg {
  margin-bottom: 20px;
}

.infouser-card {
  background-color: white;
  border-radius: 15px; /* Cambiado de 0px a 15px para esquinas curvas */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 20px auto 30px; 
  width: 90vw;
  max-width: 1340px;
  border-left: 5px solid #4a7c59;
}

.infouser-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.infouser-balance-box {
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 150px;
}

.infouser-balance-box h3 {
  font-size: 18px;
  margin: 0 0 5px 0;
}

.infouser-balance-box p {
  font-size: 16px;
  margin: 0;
}

.payment-status {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.payment-status.debt {
  background-color: #ffdddd;
  color: #d32f2f;
}

.payment-status.paid {
  background-color: #ddffdd;
  color: #388e3c;
}

.infouser-chart {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.infouser-chart-item {
  flex: 1;
  text-align: center;
  max-width: 400px;
}

.Medals-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.Medal-image {
  width: 60px;
  height: 60px;
}

.User-category {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.infouser-content {
  flex: 1;
  overflow-y: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  width: 90vw;
  max-width: 1100px;
  padding: 20px;
}
.pay-button{
  background-color: #6e6e6e;
  color: white; 
  border: none;       
  padding: 10px 20px;       
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .pay-button:hover{
    background-color: #45a049;
    }