.Torneos-title{
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font: 600 26px/1.2 'Roboto', sans-serif;
}
.Torneos-background {
  height: 100vh;
  background-color: #e6f6ff;
  overflow: scroll;
}

.Torneos-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.Torneos-item {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

  .Torneo-image {
      width: 50px;
      height: 50px;
      background-color: #e0e0e0;
      border-radius: 50%;
      margin-right: 10px;
      transition: background-color 0.3s ease;
  }
  
 
.Torneo-info {
  flex-grow: 1;
}

.Torneo-info h3 {
  margin: 0;
  font: 500 20px/1.2 'Roboto', sans-serif;

}

.Toreno-info p {
  font-size: 14px;
  margin: 0;
  color: #6c757d;
}

.Torneo-time {
  font-size: 12px;
  color: #6c757d;
}

.Torneo-button {
  margin: 10px auto 0;
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-bottom: 25px;
}
.torneos-contenedor {
  display: flex;
  gap: 10px; 
  justify-content:center; 
}


.Torneos-card, .torneo-setup {
  background-color: white;
  height: 50vh; /* Altura inicial relativa a la ventana */
  max-height: 400px; /* No excederá esta altura */
  width: 90vw;
  margin: 30px auto;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  padding-bottom: 30px;
  padding-top: 25px;
}
.Torneo-details {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Aumenta el espacio entre los elementos */
  padding: 20px; /* Aumenta el padding para dar más espacio interno */
  margin: 40px auto; /* Agrega más espacio alrededor del contenedor */
  max-width: 800px; /* Limita el ancho máximo para que no ocupe todo el ancho de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho disponible hasta el max-width */
  background-color: #f9f9f9; /* Opcional: agrega un fondo claro para separar visualmente */
  border-radius: 10px; /* Añade bordes redondeados si deseas */
}

.Back-button {
  margin: 10px auto 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}


.torneo-form-container {
  display: flex;
  flex-direction: row; /* Alineación horizontal de los elementos */
  gap: 15px; /* Espacio entre los elementos */
  padding: 20px;
  width: 100%; /* Ancho 100% para que ocupe el espacio disponible */
  max-width: 600px; /* Maximo ancho para no desbordar */
  margin: 0 auto; /* Centrado horizontal */
  justify-content: space-between; /* Distribuir los elementos de manera uniforme */
  padding: 30px;
}

.torneo-form-container input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; 
  border-color: 000000;
}

.container {
  display: flex;
  flex-direction: column; /* Para que los elementos estén en una columna */
  padding: 30px; /* Relleno alrededor del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  max-width: 800px; /* Ancho máximo del contenedor */
}

.players-list {
  width: 100%;
  padding: 20px;
}

table {
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  border-collapse: collapse; /* Eliminar los espacios entre celdas */
}

th, td {
  padding: 12px; /* Espacio dentro de las celdas */
  text-align: left; /* Alineación del texto */
}


td {
  border-bottom: 1px solid #ddd; /* Línea separadora entre filas */
}







